## Exercise One

In [2]:
from queue import LifoQueue, Queue, SimpleQueue
import pandas as pd

In [3]:
def stack_choices(option: int, stack: Queue, value = None):
    """This option takes the user choice and gives the user the stack.

    Args:
        option: the user choice.
        stack: the stack to modify.
        value: the value to potentially add to the stack.
    
    
    Returns:
        a tuple of the stack and the associated string to print.
    """
    if option == 1:
        stack.put(value)
    elif option == 2:
        print(stack.get(timeout=2))
    elif option == 3:
        print(list(stack.queue))   
    
    print_dict = {
        1: "Value added.",
        2: "Value obtained.",
        3: "Stack above."
    }

    return stack, print_dict.get(option)

In [6]:
def menu(stack):
    """This function runs on a loop and displays the menu.

    Args:
        stack: the stack to be modified.
    """
    try:
        option = int(input("Please pick an option."))
        assert 1 <= option <= 4
        if option == 4:
            return True
    except (ValueError, AssertionError):
        print("Please enter a valid number.")
        menu(stack)
    try:
        value = None
        if option == 1:
            question = "What number would you like to push onto the stack?"
            value = int(input(question))
        stack, statement = stack_choices(option, stack, value)
        print(statement)
    except ValueError:
        print("Please enter a valid number.")
        menu(stack)

In [7]:
def exercise_one(queue_type):
    """This is the driver function, which runs the menu loop and modifies the stack/queue depending on the user choice.

    Args:
        queue_type: either lifo or fifo.
    """
    assert queue_type.lower() in ['lifo', 'fifo'], "Choose a valid queue type."

    if queue_type.lower()=='lifo':
        stack = LifoQueue()
    elif queue_type.lower()=='fifo':
        stack = Queue()
    
    print(f"""Select an option:
        1. Push
        2. Pop
        3. View
        4. Stop""")

    terminate = False
    while not terminate:
        terminate = menu(stack)

In [8]:
exercise_one('fifo')

Select an option:
        1. Push
        2. Pop
        3. View
        4. Stop
Value added.
Value added.
Value added.
Value added.
Value added.
[100, 200, 300, 400, 500]
Stack above.
[100, 200, 300, 400, 500]
Stack above.
100
Value obtained.

## Exercise Two

In [83]:
records = [
    ["L3", 390, 345, 379],
    ["P2", 250, 270, 300],
    ["N6", 460, 480, 450],
    ["B8", 470, 510, 360]
    ]

df = pd.DataFrame.from_records(records, columns=["index", "April 18", "May 18", "June 18"]).set_index('index')

In [84]:
groups = df.T
df['mean'] = df[["April 18", "May 18", "June 18"]].mean(axis=1)
df['sum'] = df[["April 18", "May 18", "June 18"]].sum(axis=1)

In [85]:
df[['mean', 'sum']]

             mean   sum
index
L3     371.333333  1114
P2     273.333333   820
N6     463.333333  1390
B8     446.666667  1340

In [86]:
groups['mean'] = groups[["L3", "P2", "N6","B8"]].mean(axis=1)
groups['sum'] = groups[["L3", "P2", "N6","B8"]].sum(axis=1)

In [87]:
groups[['mean', 'sum']]

index       mean   sum
April 18  392.50  1570
May 18    401.25  1605
June 18   372.25  1489